.greeting {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: -100px;
	outline-offset: none;

	&_container {
		width: 100%;

		.banner {
			width: 100%;
			aspect-ratio: 1;
			top: -20px;
			left: 200px;
			position: absolute;
			z-index: -999;
			outline-offset: none;

			img {
				width: 100%;
			}

			&_affter {
				position: relative;
				width: 100%;

				&::after {
					position: absolute;
					content: '';
					top: 0px;
					right: 0px;
					width: 100%;
					height: 100%;
					background: radial-gradient(50% 50% at 50% 50%, rgba(47, 47, 47, 0) 0%, #2F2F2F 100%);
				}
			}
		}

		.title {
			max-width: 930px;
			margin-top: 50px;

			h1 {
				padding: 20px 0;
				font-family: 'BebasNeue';
				font-size: 140px;
				font-weight: 700;
				line-height: 115px;
				text-align: left;
				background: color('text','header');
				background-clip: text;
				-webkit-text-fill-color: transparent;
				display: inline-block;
				text-transform: uppercase;
			}

			.small {
				font-family: 'Montserrat';
				font-size: 30px;
				font-weight: 500;
				line-height: 36.57px;
				text-align: left;
				background: color('text', 'header');
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}