/* Bebas */
@font-face {
  font-family: 'BebasNeue';
  src:
    local('BebasNeue'),
    local('BebasNeue-Bold'),
    url('@fonts/bebas/BebasNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src:
    local('BebasNeue'),
    local('BebasNeue-Regular'),
    url('@fonts/bebas/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    local('Inter-Regular'),
    url('@fonts/inter/inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    local('Montserrat-Regular'),
    url('@fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat-Bold'),
    local('Montserrat-Medium'),
    url('@fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat-Bold'),
    local('Montserrat-Bold'),
    url('@fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Times New Roman */
@font-face {
  font-family: 'TimesNewRoman';
  src:
    local('Times New Roman'),
    local('Times New Roman Regular'),
    local('Times-New-Roman'),
    local('Times-New-Roman-Regular'),
    url('@fonts/timesnew/Times-New-Roman-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: color("main", "background");
  color: color("text", "main");
}

.container {
  position: relative;
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  margin: 0;
  text-decoration: none;
}

a {
  color: color("text", "main");
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-family: 'Montserrat';
  outline: none;
  padding: 0;
}

input,
select {
  font-family: 'Montserrat';
}

textarea,
input[type='text'],
input[type='button'],
input[type='submit'] {
  appearance: none;
  border-radius: 0;
}